<!-- PHD -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].phd.section | default: "phd" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].phd.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted" style="margin-bottom: 25px">{{ site.data.sitetext[site.locale].phd.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <img src="assets/img/fics.png" class="mx-auto" style="width:35%;margin-bottom:35px;border-radius:10px"/>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].phd.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
<!-- End PHD -->
